/*Fonts and colors*/

	/*font-family: 'Libre Baskerville', serif;
	font-family: 'Open Sans', sans-serif;	*/

	/*PSS yellow rgba(249, 231, 159, .65)*/
	/*Off white 250,235,215*/
	/*PSS Umber 175, 96, 26*/
	/*PSS Dark Gold 183, 149, 11*/
	/*PSS Brown rgb(51, 25, 0)*/
html {
  scroll-behavior: smooth;
}

body {
	background-color: transparent;	
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: rgb(51, 25, 0);

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', serif;
	color: rgb(51, 25, 0);
	width: 100%;
}

.snakepic {
	border: 2px solid rgb(51, 25, 0, .5);
	width: 100%;
}

#snakebody {
	padding-right: 0;
}

img {
	padding-right: 0;
}

.row img:hover {
	border-image: radial-gradient(rgb(51, 25, 0), rgba(51, 25, 0, .45));
	border-image-slice: 1;
	border-width: 8px;
}

button[data-dismiss="modal"] span {
	position: absolute;
	top:1%;
	left: .5%;
	background-color: rgb(250,235,215);
}

::-webkit-scrollbar {
	display: none;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	.modal-sm {
		width: 80%;
	}

}
@media only screen and (max-width: 425px) {
	#snakebody {
		padding-bottom: 10vh;
	}
}