/*Fonts and colors*/

	/*font-family: 'Libre Baskerville', serif;
	font-family: 'Open Sans', sans-serif;	*/

	/*PSS yellow rgba(249, 231, 159, .65)*/
	/*Off white 250,235,215*/
	/*PSS Umber 175, 96, 26*/
	/*PSS Dark Gold 183, 149, 11*/
	/*PSS Brown rgb(51, 25, 0)*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: rgb(51, 25, 0);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', serif;
	color: rgb(51, 25, 0);
	width: 100%;
}

a > h1 {
	color: rgb(183, 149, 11);
	transition: color .75s;
}

a > h1:hover {
	color: rgb(51, 25, 0);
	transition: color .75s;
}

a.divwrapper {
	width: 100%;
}

.wshader {
	background-color: rgba(250,235,215,.45);	
}

#greeter {
	position: absolute;
	bottom: 17.5%;
}

#bg {
	padding: 0;
	background-image: url("../images/burm.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

#brandnav {
	padding: 0;
}

.thumb {
	width: 100%;
	opacity: .6;
	transition: opacity .75s;
	border: 4px solid rgb(249, 231, 159);
}

.thumb:hover {
	opacity: 1;
}


.thumb:hover + h3 {
	opacity: 1;
}

.homethumb h3 {
	position: absolute;
	text-align: right;
	transition: opacity .75s;
	opacity: .25;
	background-image: linear-gradient(to left, rgba(175, 96, 26, 1), rgba(175, 96, 26, .10));
	bottom: -1%;
	right: 0.75%;
	width: 25vw;
	color: rgb(250,235,215);
}

.navbar {
	background-color: rgba(249, 231, 159, .85);
	min-height: 6vh;
}

#topnav {
	text-align: center;
}

.navbar-brand {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

#main {
	min-height: 80vh;
}

footer {
	background-color: rgba(183, 149, 11,.85);
	color: rgb(250,235,215);
	min-height: 8vh;
}

nav#brandnav.homepage {
	min-height: 12vh;
}

/*about*/
	
#abtmain {
	background-color: rgba(250,235,215,.75);	
}

#abtpic {
	width: 100%;
}

/*mqueries*/

@media only screen and (min-width: 426px) {
	.navline {
		width: 100%;
		float: left;
	}

	#dbrand {
		font-size: 160%;
	}

	.center {
		margin: 0 auto;
	}

	#mnav{
		display: none;
	}

	#mobmain {
		display: none;
	}

}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	.thumb {
		width: 100%;
		opacity: 1	;
		transition: opacity .75s;
		border: 4px solid rgb(250,235,215);
	}

	.homethumb h3 {
		position: absolute;
		text-align: right;
		opacity: 1;
		background-image: linear-gradient(to left, rgba(175, 96, 26, 1), rgba(175, 96, 26, .10));
		bottom: 1%;
		right: 3.5%;
		width: 43.5vw;
		color: rgb(250,235,215);
	}

	#greeter {
		padding: 12px;
	}
}

@media only screen and (max-width: 425px) {

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Libre Baskerville', serif;
		color: rgb(250,235,215);
		width: 100%;
	}

	#main {
		display: none;
	}

	a {
		color: none;
	}

	h1 {
		font-size: 200%;

		text-align: center;		
	}

	h2 {
		text-align: center;
		font-size: 160%;
	}

	h4 {
		font-size: 120%;
		text-align: center;	
	}

	#brandnav {
		display: none;
	}

	#mbrand{
		font-size: 120%;
		font-style: normal;
	}

	.navbar {

	}

	button.navbar-toggler {
		padding: 0;
		border:none;
	}

	#mobmain {
		background-color: rgba(175, 96, 26, .55);
	}

	#mobmain p {
		color: rgb(250,235,215);
	}

	.welcomebtn {
		font-family: 'Libre Baskerville', serif;
		background-color: rgba(249, 231, 159, .85);
	}

	.thumb {
		width: 100%;
		opacity: 1	;
		transition: opacity .75s;
		border: 4px solid rgb(250,235,215);
	}

	.homethumb {
		position: relative;
	}

	.homethumb h3 {
		position: absolute;
		text-align: right;
		opacity: 1;
		background-image: linear-gradient(to left, rgba(175, 96, 26, 1), rgba(175, 96, 26, .10));
		bottom: -2%;
		right: 1.5%;
		width: 40vw;
		color: rgb(250,235,215);
	}

}