/*Fonts and colors*/

	/*font-family: 'Libre Baskerville', serif;
	font-family: 'Open Sans', sans-serif;	*/

	/*PSS yellow rgba(249, 231, 159, .65)*/
	/*Off white 250,235,215*/
	/*PSS Umber 175, 96, 26*/
	/*PSS Dark Gold 183, 149, 11*/
	/*PSS Brown rgb(51, 25, 0)*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: rgb(51, 25, 0);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', serif;
	color: rgb(51, 25, 0);
	width: 100%;
}

a > h1 {
	color: rgb(183, 149, 11);
	transition: color .75s;
}

a > h1:hover {
	color: rgb(51, 25, 0);
	transition: color .75s;
}

a.divwrapper {
	width: 100%;
}

.wshader {
	background-color: rgba(250,235,215,.65);	
}

#jlanding {
	background-color: rgba(250,235,215,.85);
	text-align: center;	
	width: 60vw;
	height: 40vh;
	margin-top: 17.5vh;
}

#jlanding a {
	color: rgb(51, 25, 0);
	font-size: 16px;
}

#landbutton {
	font-size: 6em;
	border: 1px solid rgb(51, 25, 0);
	border-radius: 2.5%;
	width: 20%;
}

#greeter {
	position: absolute;
	bottom: 5vh;
}

#bg {
	padding: 0;
	background-image: url("../images/burm.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

#brandnav {
	padding: 0;
}

.thumb {
	width: 100%;
	opacity: .6;
	transition: opacity .75s;
	border: 4px solid rgb(249, 231, 159);
	cursor: pointer;
}

.thumb:hover + h3 {
	opacity: 1;
}

.thumb:hover {
	opacity: 1;
}

.thumb > h3:hover .thumb {
	opacity: 1;	
}

.homethumb h3 {
	pointer-events : none;
	position: absolute;
	text-align: right;
	transition: opacity .75s;
	opacity: .45;
	background-image: linear-gradient(to left, rgba(175, 96, 26, 1), rgba(175, 96, 26, .10));
	bottom: -1.5%;
	right: 1.0%;
	width: 25vw;
	color: rgb(250,235,215);
}

.navbar {
	background-color: rgba(249, 231, 159, .85);
	height: 5vh;
}

#topnav {
	text-align: center;
}

.navbar-brand {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

#main {
	height: 80vh;
	overflow: scroll;
}

#mainhome {
	height: 80vh;
	overflow: scroll;
}

::-webkit-scrollbar {
display: none;
}

footer {
	background-color: rgba(183, 149, 11,.85);
	color: rgb(250,235,215);
	height: 10vh;
	overflow: scroll;
}

nav#brandnav.homepage {
	height: 10vh;
}

/*about*/
	
#abtmain {
	background-color: rgba(250,235,215,.75);
	height: 80vh;
	overflow: scroll;	
}

#abtpic {
	width: 100%;
}

/*faq*/

.faqsc {
	width: 50vw;
}

li {
	margin-bottom: 4px;
}

.faqhead {
	text-align: center;
}

li a {
	color: rgb(175, 96, 26);
	transition: color .75s;
}

li a:hover {
	color: rgb(51, 25, 0);
	transition: color .75s;
}

li a {
	color: rgb(175, 96, 26);
	transition: color .75s;
}

li a:hover {
	color: rgb(51, 25, 0);
	transition: color .75s;
}

button[data-target*="#ans"]{
	color: rgb(175, 96, 26);
	transition: color .75s;
}

button[data-target*="#ans"]:hover {
	color: rgb(51, 25, 0);
	transition: color .75s;
}

/*gallery*/

#galleryseparator {
	border-right: 2px solid rgb(51, 25, 0);
}

#gallmain {
	padding-top: 7.5vh;
}

.gbox {

}

#snakepic {
	border: 2px solid rgb(51, 25, 0, .5)	
}

/*contact*/

#ctext {
	resize: none;
	height: 16vh;
}

#conwrap {
	transform: translateY(7.5vh);
}

button[type="submit"] {
	border-radius: 0%;
	border: 2px solid rgba(250,235,215, .15);
}

/*mqueries*/

@media only screen and (min-width: 426px) {
	.navline {
		width: 100%;
		float: left;
	}

	#dbrand {
		font-size: 160%;
	}

	.center {
		margin: 0 auto;
	}

	#mnav.athome{
		display: none;
	}

	#mobmain {
		display: none;
	}

	#mbrand {
		display: none;
	}

}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	.thumb {
		width: 100%;
		opacity: 1	;
		transition: opacity .75s;
		border: 4px solid rgb(250,235,215);
	}

	#jlanding h2, h3 {
		color: rgb(51, 25, 0);
		width: 100%;
		font-size: 16px;
	}

	#jlanding h1 {
		color: rgb(51, 25, 0);
		width: 100%;
		font-size: 28px;
	}

	#landbutton {
		width: 40%;
	}

	.homethumb h3 {
		position: absolute;
		text-align: right;
		opacity: 1;
		background-image: linear-gradient(to left, rgba(175, 96, 26, 1), rgba(175, 96, 26, .10));
		bottom: -2.5%;
		right: 2.5%;
		width: 24vw;
		color: rgb(250,235,215);
		font-size: 2.5vw;
	}

	#greeter {
		padding: 24px;
	}
}

@media only screen and (max-width: 425px) {

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Libre Baskerville', serif;
		color: rgb(51, 25, 0);
		width: 100%;
	}

	#mainhome h1, #mainhome h2, #mainhome h3, #mainhome h4, #mainhome h5, #mainhome h6 {
		font-family: 'Libre Baskerville', serif;
		color: rgb(250,235,215);
		width: 100%;
	}

	#jlanding {
		height: 60vh;
		margin-top: 10vh;
		width: 100%;
	}

	#jlanding h2, h3, a {
		color: rgb(51, 25, 0);
		width: 100%;
		font-size: 16px;
	}

	#jlanding h1 {
		color: rgb(51, 25, 0);
		font-size: 24px;
	}

	#landbutton {
		border: 1px solid rgb(51, 25, 0);
		font-size: 20px;
		border-radius: 2.5%;
		width: 80%;
	}

	nav#mnav {
	height: 12vh;
	z-index: 100;
	}

	.navbar-nav {
		background-color: rgb(250,235,215);
	}


	#mainhome {
		display: none;
	}

	a {
		color: none;
	}

	h1 {
		font-size: 36px;
		text-align: center;		
	}

	h2 {
		text-align: center;
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
		text-align: center;		
	}

	h4 {
		font-size: 24px;
		text-align: center;	
	}

	h5{
		font-size: 20px;
		text-align: center;
	}

	h6 {
		font-family: 'Open Sans', sans-serif;
	}

	#brandnav {
		display: none;
	}

	#mbrand {
		font-size: 20px;
		width: 80%;
		font-style: normal;
	}

	button.navbar-toggler {
		padding: 0;
		border:none;
	}

	#mobmain {
		background-color: rgba(175, 96, 26, .55);
	}

	#mobmain p {
		color: rgb(250,235,215);
	}

	.welcomebtn {
		font-family: 'Libre Baskerville', serif;
		background-color: rgba(249, 231, 159, .85);
	}

	.thumb {
		width: 100%;
		opacity: 1	;
		transition: opacity .75s;
		border: 4px solid rgb(250,235,215);
	}

	.homethumb {
		position: relative;
	}

	.homethumb h3 {
		position: absolute;
		text-align: right;
		opacity: 1;
		background-image: linear-gradient(to left, rgba(175, 96, 26, 1), rgba(175, 96, 26, .10));
		bottom: -2%;
		right: 1.5%;
		width: 80vw;
		color: rgb(250,235,215);
		font-size: 8vw;
	}

}